<!DOCTYPE html>
<html lang="<%= typeof config.language=='string' ? config.language:config.language.join(',') %>">
<head>
    <script nsrc="https://www.yt-blog.top/js/fastjump.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title><%= ((page.title) ? page.title + ' - ' : '') + config.title %></title>
    <link rel="shortcut icon" href="<%= config.favicon || theme.favicon || '' %>">
    <%- css('css/style.css') %>
    <link rel="stylesheet" href="<%=theme.cdn.github_cdn%>/Fgaoxing/blog-cdn@main/grid.css">
    <%- js('js/app.js') %>
    <%- partial('_partial/meta') %>
    <script>
        Jian.load.css('<%=theme.cdn.npm_cdn%>/@fortawesome/fontawesome-free@v6/css/all.min.css')
        Jian.load.js('<%=theme.cdn.github_cdn%>/Fgaoxing/Tool-js@main/tool.js', function () {
            TombSweepingDay();
            Memorial();
            lantern();
        });
        Jian.load.js('<%=theme.cdn.npm_cdn%>/pandown', function () {
            pandown();
        });
    </script>
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "aarb47bzd1");
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?597c75e8a1aca9c1525229b69d9c9ecc";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <meta name="follow.it-verification-code" content="LlmddNY7dr0ZbV24UdUh"/>
    <meta name="360-site-verification" content="6e6223d4a72a81e520e67080db00fda6" />
    <meta name="baidu-site-verification" content="codeva-Oz6pd5JcaV" />
</head>
<body>
<%- partial('_plugins/other/main') %>
<header class="header" id="header">
    <div class="blog-logo">
        <a href="<%- url_for() %>" class="logo"><%= config.title %></a>
    </div>
    <nav class="navbar">
        <ul class="menu">
            <% for (name in theme.menu) { %>
                <li class="menu-item">
                    <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%= name %></a>
                </li>
            <% } %>
            <li class="menu-item">
                <a href="javascript:Jian.dark.change()" class="menu-item-link"><i class="fa-regular fa-moon"></i></a>
            </li>
        </ul>
    </nav>
</header>
<div class="msg" id="msg">
</div>
<main class="main w-full grid page-main<%=(page.side===false)?' no-side':''%><%=(theme.side.post||theme.side.page)?'':' no-side'%>">
    <%- body %>
    <%- partial('_partial/side', {sidels: page.side||(is_post())?theme.side.post:theme.side.page}) %>
</main>
<%- partial('_plugins/rigtmenu') %>
<%- partial('_partial/footer') %>
</body>
</html>
